<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.jcu.plandoll16.printerlocator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListAllPrintersActivity" />
        <activity android:name=".FindNearestPrinterActivity" />
        <activity android:name=".DisplayPrinterActivity" />
        <activity android:name=".AllPrinterFilterActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".DisplayPrinterOnMapActivity"
            android:label="@string/title_activity_display_printer_on_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.jcu.plandoll16.printerlocator.DisplayPrinterActivity" />
        </activity>
    </application>

</manifest>